<%= form_for(@stuff, :url=>{ :action=>@action, :id=>@stuff.id }, :html=>{:id=>"stuff_form"}) do |f| %>
<%= f.hidden_field :shop_id, :value=>@shop.id%>
  <% if @stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stuff.errors.count, "error") %> prohibited this stuff from being saved:</h2>

      <ul>
      <% @stuff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%if notice%>
  <p id="notice" style="display:none;"><%= notice %></p>
  <script>
  	$('#notice').slideDown(400);
  	$('#notice').delay(4000).slideUp(400);
  </script>
  <%end%>

  <div class="subtitle"><%=@action.capitalize%> Inventory Item</div>

  <div class="fields">


  <table style="padding: 20px;">

  	<tr>
		<td valign=top align="center"> <!-- ugh, I know //-->
			<%if !@stuff.photo.url().include?('missing.png')%><%= image_tag @stuff.photo.url(:viewable)%><%end%>
			<%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg'%>

		</td>
		<td valign="top">

		  <table >
			<tr>
				<td class="field_header">Item Name</td>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<td class="field_header">Description</td>
				<td><%= f.text_area :description, :rows=>"8" %></td>
			</tr>
			<tr>
				<td class="field_header"><%= f.label :price %></td>
				<td><%= f.text_field :price %></td>
			</tr>
			<tr>
				<td class="field_header"><%= f.label :shipping %></td>
				<td><%= f.text_field :shipping %></td>
			</tr>
			<tr>
				<td class="field_header">Quantity</td>
				<td><%= f.number_field :qty%></td>
			</tr>
			<tr>
				<td class="field_header"><%= f.label :discontinued %></td>
				<td><%= f.check_box :discontinued %></td>
			</tr>
			<tr>
				<td class="field_header"><%= f.label :expires_at %></td>
				<td><%= f.text_field :expires_at, :placeholder=>"MM/DD/YYYY" %></td>
			</tr>
			<tr>
				<td class="field_header"><%= f.label :limited %></td>
				<td><%= f.check_box :limited %></td>
			</tr>
			<tr>
				<td colspan=2 align="center">
					<div class="actions">
						<%= f.submit %>
						<%if  !@stuff.stack? && @stuff.id%>
						<a href="/<%=params[:slug]%>/stuffs/clone/<%=@stuff.id%>"><input type="button" value="Clone Me"></a>
						<%end%>
					</div>
				</td>
			</tr>
		</table>
	   </td>
	</tr>
   </table>


   <div class="quote box">Edit each of these items as required. These are what people try to buy. :)</div>
    </div>

<% end %>


<%=render :partial=>"stacks"%>
