<%if @stuff.id%>
	<div class="subtitle">Stacked on me</div>
	<div class="fields">
		
	<div id="stuff_list" <%if !@stuff.stack?%>style="display:none;"<%end%>>
			<table>
			  <tr>
			    <th>Image</th>
			    <th>Name</th>
			    <th>Desc</th>
			    <th>Qty</th>
			    <th>Discontinued</th>
			    <th>Shop</th>
			    <th>Expires at</th>
			    <th>Limited</th>
			    <th></th>
			    <th></th>
			    <th></th>
			  </tr>
			
			<% @shop.stuffs.each do |stuff| %>
			  <tr class="offset">
			    <td><%= image_tag stuff.photo.url(:small) %></td>
			    <td><%= stuff.name %></td>
			    <td><%= stuff.description %></td>
			    <td><%= stuff.qty %></td>
			    <td><%= stuff.discontinued %></td>
			    <td><%= stuff.shop.name %></td>
			    <td><%= stuff.expires_at %></td>
			    <td><%= stuff.limited %></td>
			    
			    <td class="links"><%= link_to 'Show', "/#{params[:slug]}/stuffs/show/#{stuff.id}" %></td>
			    <td class="links"><%= link_to 'Edit', "/#{params[:slug]}/stuffs/edit/#{stuff.id}" %></td> 
			    
			    <td class="links">
					<%if @edit%>
						<div class="actions">
							<%if @stuff == stuff%>
							<a href="/<%=params[:slug]%>/stuffs/cloneandstack/<%=@stuff.id%>">
								<input type="button" class="self" value="Clone Me">
							</a>
							<%elsif @stuff.stuffs.include? stuff%>
							<a href="/<%=params[:slug]%>/stuffs/unstack/?container_id=<%=@stuff.id%>&stuff_id=<%=stuff.id%>&viewing=<%=@stuff.id%>">
								<input type="button" value="Unstack">
							</a>
							<%else%>
							<a href="/<%=params[:slug]%>/stuffs/stack/?container_id=<%=@stuff.id%>&stuff_id=<%=stuff.id%>&viewing=<%=@stuff.id%>">
								<input type="button" class="disabled" value="Stack Me">
							</a>
							<%end%>
						</div>
					<%end%></td>
			  </tr>
			<% end %>
			</table>
		</div>
	<%if !@stuff.stack?%>
		<div id="stack_trigger"> I am not a stack, yet! Stack something? </div>
		<script>
		      $('#stack_trigger').click(function(e) {
				$(this).fadeOut('fast', function() {});
				$('#stuff_list').fadeIn('fast', function() {});
			});
            	</script>
	<%end%>
	
		</div>	
		<div class="quote box">These are the other items that are listed as part of this stack. This could be a category of t-shirt, for example.</div>

<%end%>

<%if @stuff.member?%>
	<div class="subtitle">I am stacked on</div>
	<div class="fields">
		<table>
		  <tr>
		    <th>Image</th>
		    <th>Name</th>
		    <th>Desc</th>
		    <th>Qty</th>
		    <th>Discontinued</th>
		    <th>Shop</th>
		    <th>Expires at</th>
		    <th>Limited</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @stuff.member_of.each do |stuff| %>
		  <tr>
		    <td><%= image_tag stuff.photo.url(:small) %></td>
		    <td><%= stuff.name %></td>
		    <td><%= stuff.description %></td>
		    <td><%= stuff.qty %></td>
		    <td><%= stuff.discontinued %></td>
		    <td><%= stuff.shop.name %></td>
		    <td><%= stuff.expires_at %></td>
		    <td><%= stuff.limited %></td>
		    <td><%= link_to 'Show', "/#{params[:slug]}/stuffs/show/#{stuff.id}" %></td>
		    <td><%= link_to 'Edit', "/#{params[:slug]}/stuffs/edit/#{stuff.id}" %></td>
		    <td><%if @edit%><div class="actions"><a href="/<%=params[:slug]%>/stuffs/unstack/?container_id=<%=stuff.id%>&stuff_id=<%=@stuff.id%>&viewing=<%=@stuff.id%>"><input type="button" value="Unstack"></a></div><%end%></td>
		  </tr>
		<% end %>
		</table>
	</div>
	<div class="quote box">These are the stacks of items that this particular item is associated with. 
		These could be different sizes of the same t-shirt, for example.</div>
<%end%>

