

<div class="subtitle box">
	Your Inventory 
	<div class="actions"><a href="/<%=params[:slug]%>/stuffs/new/"><input type="button" value="+ New Stuff"></a></div>
</div>

<%if @stuffs.length < 1%>
<br /><br /><br />

<div style="text-align:center;">You don't have anything in your inventory. Add something!</div>

<%else%>
<%= paginate @stuffs%>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Desc</th>
    <th>Qty</th>
    <th>Discontinued</th>
    <th>Shop</th>
    <th>Expiry</th>
    <th>Limited</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stuffs.each do |stuff| %>
  <tr class="stuff">
    <td><%= image_tag stuff.photo.url(:small) %></td>
    <td><%= stuff.name %></td>
    <td><%= stuff.description %></td>
    <td><%= stuff.qty %></td>
    <td><%= stuff.discontinued %></td>
    <td><%= stuff.shop.name %></td>
    <td><%= stuff.expires_at %></td>
    <td><%= stuff.limited %></td>
    <td><%= link_to 'Show', "/#{params[:slug]}/stuffs/show/#{stuff.id}" %></td>
    <td><%= link_to 'Edit', "/#{params[:slug]}/stuffs/edit/#{stuff.id}" %></td>
    <td><%= link_to 'Destroy', "/#{params[:slug]}/stuffs/destroy/#{stuff.id}", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @stuffs%>

<%end%>
