<p id="notice"><%= notice %></p>
<table>
	<tr>
	
		<td valign="top"><%=image_tag @stuff.photo.url(), :style=>"padding:20px;"%></td>
		<td valign="top">
			<div style="padding:20px">
			<p>
			  <b>Name:</b>
			  <%= @stuff.name %>
			</p>
			
			<p>
			  <b>Desc:</b>
			  <%= @stuff.description %>
			</p>
			
			<p>
			  <b>Qty:</b>
			  <%= @stuff.qty %>
			</p>
			
			<p>
			  <b>Price:</b>
			  <%=number_to_currency(@stuff.price, :unit => "$")%>
			</p>
			<p>
			  <b>Discontinued:</b>
			  <%= @stuff.discontinued %>
			</p>
			
			<p>
			  <b>Shop:</b>
			  <%= @stuff.shop_id %>
			</p>
			
			<p>
			  <b>Expires at:</b>
			  <%= @stuff.expires_at %>
			</p>
			
			<p>
			  <b>Limited:</b>
			  <%= @stuff.limited %>
			</p>
			<p>
				<%= link_to 'Edit', "/#{params[:slug]}/stuffs/edit/#{@stuff.id}" %>
			</p>
			</div>

	
		</td>
	</tr>
</table>
<br />

<%=render :partial=>"stacks"%>
