<%= form_for(@shop, :url=>{ :action=>@action, :id=>@shop.id }) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if notice%>
  <p id="notice" style="display:none;"><%=raw notice %></p>
  <script>
  	$('#notice').slideDown(400);
  	$('#notice').delay(4000).slideUp(400);
  </script>
  <%end%>
  
  <div class="subtitle box">Your Shop</div>
  <div class="fields">
  	<%if @shop.id%>
		<div style="display:inline; float:right; text-align:right; font-size:0.7em; color:#444444;">
		<%=link_to image_tag(gravatar_url(@shop.email, {:size=>"100"}), :class=>"box"), "http://www.gravatar.com"%><br />
		Update your Gravatar!
		</div>
  	<%end%>
  	<table>
		<tr>
			<td class="field_header"><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td class="field_header"><%= f.label :email %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td class="field_header">Custom URL:</td>
			<td><%= f.text_field :slug %></td>
		</tr>
		<tr>
			<td colspan=2 class="description">http://localhost:3000/<span id="url"><%=@shop.slug%></span>/store</td>
		</tr>                
                <tr>
                        <td class="field_header">Shop Description:</td>
                        <td><%= f.text_area :description, :rows=> 6, :placeholder=>"Put your shop address, phone, slogan and other descriptive info here." %></td>
                </tr>
		<tr>
			<td class="field_header">Password:</td>
			<td><input type="password" name="superpass" size=30 placeholder="Change your password?"></td>
		</tr>
		<tr>
			<td class="field_header">Re-type:</td>
			<td><input type="password" name="retype" size=30></td>
		</tr>
  	</table>
  </div>

  <div class="quote box">Set these up to your tastes.</div>

  <div class="subtitle box">Paypal Express</div>
  <%= f.fields_for :paypal_account do |pp| %>
    <div class="fields">
  	<table>
		<tr>
			<td class="field_header"><%= pp.label :user %></td>
			<td> <%= pp.text_field :user%></td>
		</tr>
      		<tr>
			<td class="field_header"><%= pp.label :password %></td>
			<td> <%= pp.text_field :password%></td>
		</tr>
		<tr>
			<td class="field_header"><%= pp.label :signature %></td>
			<td><%= pp.text_field :signature%></td>
		</tr>
		<tr>
			<td class="field_header"><%= pp.label :currency %></td>
			<td><%= pp.text_field :currency %></td>
		</tr>
  	</table>
  <% end %>
  <div class="quote box">Using PayPal Express Checkout is pretty easy. Your PayPal account needs to have PayPal Express enabled. You can learn more about that <a href="https://merchant.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=merchant/express_checkout">here.</a></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
