<div class="titlebar shadow">
	<div class="title headline">Shop Manager</div>
	<%if @edit%>
	<div class="title menu <%if option == "shop"%>current<%else%>others<%end%>"><a href="/<%=params[:slug]%>/shops/edit/<%=@shop.id%>">My Shop</a></div>
	<div class="title menu <%if option == "stuff"%>current<%else%>others<%end%>"><a href="/<%=params[:slug]%>/stuffs/">My Stuff</a></div>
	<div class="title menu <%if option == "orders"%>current<%else%>others<%end%>"><a href="/<%=params[:slug]%>/orders/">My Orders</a></div>
	<div class="title menu "><a href="/login/logout/">logout</a></div>
	<%end%>
</div>
