
  <%if notice%>
	  <p id="notice" style="display:none;"><%= notice %></p>
	  <script>
		$('#notice').slideDown(400);
		$('#notice').delay(4000).slideUp(400);
	  </script>
  <%end%>

    
  <div class="subtitle">Superette Shop List</div>
  
  <div class="fields">

<table style="padding:20px;">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Slug</th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= image_tag(gravatar_url(shop.email, {:size=>"25"})) %></td>
    <td><%= shop.name %></td>
    <td><%= shop.email %></td>
    <td><%= shop.slug %></td>
    <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
  </tr>
<% end %>
</table>
</div>
