<p id="notice"><%= notice %></p>

<p>
  <b>Shop Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Contact Email:</b>
  <%= @shop.email %>
</p>

<p>
 <b>Stock:</b>
 <%for stuff in @shop.stuffs%>
 <%=link_to stuff.name, stuff%><br />
 <%end%>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
