<div id="invoice_search">
	<div id="invoice_search_link">Order Search</div>
	<div id="invoice_search_container" style="display:none">
		<div class="tick"></div>
		<div class="search_fields box">
			<form href="/<%=params[:slug]%>/invoices/search" id="invoice_search_form" >
				<input id="email" name="email" placeholder="Email Address">
				<input id="zipcode" name="zipcode" placeholder="Zipcode">
			</form>
			<div id="status_text">Enter your email address and shipping zipcode to find previous orders</div>
			<div id="invoice_search_results"></div>
		</div>
	</div>
</div>