<table id="invoice_list_table" class="box">
    <th>Date</th><th colspan="2">Tracking Number</th><th>Amount</th>
  <% invoices.each do |invoice| %>
    <tr>
      <td><span class="invoice_link" href="/<%=params[:slug]%>/invoices/show?invoice_id=<%=invoice.id %>"><%=invoice.created_at.strftime("%m/%d/%Y")%></span></td>
      <%= tracking_link( invoice.tracking )%>
      <td><%=invoice.amount.format( :symbol=>true )%></td>
    </tr>
  <% end %>
</table>