<input class="buttons" type="button" id="print_invoice" name="print" value="Print Invoice" >
<input id="return_to_store" type="button" value="Return to store" class="buttons" href="/<%=params[:slug]%>/store/return_to_store">