<div id="printable_area">
      <div id="store_contact">
	      <div class="heading">
		      <%= @shop.name %>
	      </div>
	      <div class="content">
                      <%= mail_to @shop.email %>
                      <%= simple_format(@shop.description) %>
	      </div>
      </div>
      <div id="customer_info">
	      <div id="shipping_info">
		      <div class="heading">
			      Shipping Address
		      </div>
		      <div class="content">
			      <%= transaction.name %> (<%= transaction.email %>)
			      <br />
			      <%= transaction.street %>
			      <br />
			      <%= transaction.city %>,  <%= transaction.state %>  <%= transaction.zip %>
			      <br />
		      </div>
	      </div>
      </div>
      <div class="invoice_title">
	      Invoice Sale<span class="transaction_id">Invoice Number: <%= transaction.invoice_id %></span>
      </div>
      <table id="item_table" cellspacing=0>
	      <tr>
		      <th>Qty</th><th>Item</th><th>Description<th>Price</th><th>Total</th>
	      </tr>
	      <%for item in transaction.items%>
	      <tr>
		      <td><%= item[:quantity]%></td>
		      <td><%= item[:name]%></td>
		      <td><%= item[:description]%></td>
		      <td><%= item[:item_price].format( :symbol=> true )%></td>
		      <td><%= item[:total].format( :symbol=> true )%></td>
	      </tr>
	      <%end%>
	      <tr>
		      <td colspan="4" class="total_column" >Subtotal:</td>
		      <td><%= transaction.subtotal.format( :symbol=> true )%></td>
	      </tr>
	      <tr>
		      <td colspan="4" class="total_column">Tax:</td>
		      <td><%= transaction.tax.format( :symbol=> true )%></td>
	      </tr>
	      <tr>
		      <td colspan="4" class="total_column">Shipping:</td>
		      <td><%= transaction.shipping.format( :symbol=> true )%></td>
	      </tr>
	      <tr>
		      <td colspan="4" class="total_column">Grand Total:</td>
		      <td><%= transaction.grandtotal.format( :symbol=> true )%></td>
	      </tr>
      </table>
</div>
	<div id="return_button" >
		<%= render :partial=>"invoice_controls" %>
	</div>
