<script>
$('body').css("overflow", "hidden");
</script>

<div id="subtitle" class="checkmeout box shadow">Sell <emphasis>simply</emphasis>. Buy <emphasis>simpler</emphasis>.</div>
<div id="subtitle2" class="checkmeout box shadow">Manage a <emphasis>simpler</emphasis> store.</div>
<div id="subtitle3" class="checkmeout box shadow">Driven by <emphasis>charity</emphasis>.</div>
<div id="subtitle4" class="checkmeout box shadow">"It has never been this easy to manage my store. <emphasis>Superette</emphasis> FTW!" <br>- Anonymous</div>

<%= form_tag('/login/authenticate') do -%>
<div id="landing" class="box">

	<div class="top">
		<div class="title">Superette.</div>
		
	</div>
	
	<div class="middle">
	
	<!-- flash notices -->
	<% if flash[:notice] %>
		<div id="flash_content" class="box" style="display:none">
			<%= raw flash[:notice] %>
		</div>
		<script>
			$('#flash_content').slideDown(600);
			$('#flash_content').delay( 10000 ).slideUp(600);
		</script>
	<% end %>
		<table style="width:100%;">
			<tr>
				<td class="side"><div class="signup">{</div></td>
				<td class="inputs">
					<input type="text" class="store" name="name" placeholder="Store Name">
					<input type="email" class="email" name="email" placeholder="Email">
					<input type="password" class="password" name="password" placeholder="Password">
				</td>
				<td class="side"><div class="login">}</div></td>
			</tr>
		</table>
	</div>
	<div class="bottom">
		<input type="submit" value="Step In">
	</div>

</div>
<%end -%>

<script>
function shakeup(){
	
	$("#subtitle").effect("shake", { times:2 }, 250);
	$("#subtitle2").effect("shake", { times:2 }, 200);
	$("#subtitle3").effect("shake", { times:3 }, 225);
	$("#subtitle4").effect("shake", { times:2 }, 200);
}

$("div.checkmeout").click(function () {
      $(this).effect("shake", { times:3 }, 300);
});
shakeup();
</script>
