<% if @processing %>
	<form id="invoice_controls_form" method="get">
		<input class="tracking" name="tracking" placeholder="Tracking Number">
		<input class="buttons" type="button" id="print_invoice" name="print" value="Print Invoice" >
		<% if @next_id != nil %>
		      <input id="invoice_button_next" class="buttons" type="button" name="next" value="Fulfil and Get Next" href="/<%=params[:slug]%>/orders/next">
		      <input type="hidden" name="next_id" value="<%= @next_id %>" >
		<% end %>
		<input id="invoice_button_done" class="buttons"  type="button" name="done" value="Done" href="/<%=params[:slug]%>/orders/save">
		<input id="invoice_button_cancel" class="buttons"  type="button" name="cancel" value="Cancel" href="/<%=params[:slug]%>/orders/index">
		<input type="hidden" name="id" value="<%= @transaction.invoice_id %>">
	</form>
<% else %>
	<%= button_to "Back to Orders", {:controller=>"orders", :action=>"index"}, {:class=>"buttons"}  %>
<% end %>
