

<%if @new.count < 1 and @processed.count < 1 and @canceled.count < 1%>
	<br />
	<br />
	<br />
	<div style="text-align:center;">
		You currently don't have any orders. Better start selling!
	</div>
<%else%>

	<!-- New Orders -->
	<% if @new.count > 0 %>
		<div class="subtitle box">New Orders</div>
		<table class="order_table">
			<tr>
				<th class="number">Invoice Number</th>
				<th class="date">Date</th>
				<th class="amount">Amount</th>
				<th class="links"></th>
				<th class="links"></th>
			</tr>
			<% @new.each do |order| %>
				<tr>
					<td class="centered"><%= order.id %></td>
					<td class="centered"><%= order.created_at.strftime("%m/%d/%Y") %></td>
					<td class="centered"><%= order.amount.format( :symbol=>true ) %></td>
					<td class="centered"><%= link_to 'Fulfill', "/#{params[:slug]}/orders/process_order/#{order.id}" %></td>
					<td class="centered"><%= link_to 'Cancel', "/#{params[:slug]}/orders/cancel/#{order.id}", :confirm => 'Are you sure?'%></td>
				</tr>
			<% end %>
		</table>
		<div class="quote box">These are all of the new orders. You can either fulfil or cancel the orders here.</div>
		<br />
		<br />
	<% end %>

	<!-- Fulfilled Orders -->
	<% if @processed.count > 0 %>
		<div class="subtitle box">Fulfilled Orders</div>
		<table class="order_table">
			<tr>
				<th class="number">Invoice Number</th>
				<th class="date">Order Date</th>
				<th class="date">Ship Date</th>
				<th class="tracking" colspan="2">Tracking Number</th>
				<th class="amount">Amount</th>
				<th class="links"></th>
			</tr>
			<% @processed.each do |order| %>
				<tr>
					<td class="centered"><%= order.id %></td>
					<td class="centered"><%= order.created_at.strftime("%m/%d/%Y") %></td>
					<td class="centered"><%= order.ship_date.strftime("%m/%d/%Y") %></td>
					<%= tracking_link( order.tracking )%>
					<td class="centered"><%= order.amount.format( :symbol=>true ) %></td>
					<td class="centered"><%= link_to 'View', "/#{params[:slug]}/orders/show/#{order.id}" %></td>
				</tr>
			<% end %>
		</table>
		<div class="quote box">These are all of the fulfilled orders. You can view these or check their shipping status.</div>
		<br />
		<br />
	<% end %>

	<!-- Canceled Orders -->
	<% if @canceled.count > 0 %>
		<div class="subtitle box">Canceled Orders</div>
		<table class="order_table">
			<tr>
				<th class="number">Invoice Number</th>
				<th class="date">Order Date</th>
				<th class="amount">Amount</th>
				<th class="links"></th>
			</tr>
			<% @canceled.each do |order| %>
				<tr>
					<td class="centered"><%= order.id %></td>
					<td class="centered"><%= order.created_at.strftime("%m/%d/%Y") %></td>
					<td class="centered"><%= order.amount.format( :symbol=>true ) %></td>
					<td class="centered"><%= link_to 'View', "/#{params[:slug]}/orders/show/#{order.id}" %></td>
				</tr>
			<% end %>
		</table>
		<div class="quote box">These are all of the canceled orders. You can only view these.</div>
	<% end %>
<%end%>
