<html>
    <body>
	<div style="width:600px;border:1px solid #aaaaaa;background:#dddddd;padding:30px;margin-left:auto;margin-right:auto;">
	    Hi <%= @transaction.name %>!
	    <br /><br />
	    We are sending you this email to let you know that your order has shipped and should be arriving soon. <br /><br /><% if @transaction.tracking %> <table><tr><td>Your tracking number is:</td> <%= tracking_link( @transaction.tracking ) %> </tr></table><% end %>
	    <br /><br />
	    Thanks, <br />
	    Your friends at <%= @shop.name %>
	</div>
    </body>
</html>