

<div class="subtitle box">Superette Site Login</div>

<div id="login_form" class="box">
<div class="fields">
<%=form_tag "authenticate"%>
	<table>
		<tr><td>Email: </td><td><input id="email" name="email" type="email"></td></tr>
		<tr><td>Password: </td><td><input id="password" name="password" type="password"></td></tr>
		<tr><td colspan=2><%=submit_tag "Sign in"%></td></tr>
	</table>
</form%>
</div>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
<% end %>

</div>
