/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


#login{
	position:absolute;
	top:0px;
	right:0px;
}

#notice{
	color:#00bD39;
	font-size:1.8em;
	border:1px solid #007b25;
	padding: 20px;
	background:#bde5c9;
	text-align:center;
}
nav{
	text-align:center;
	padding:5px;
	margin:5px;
}
nav span{
	padding:3px;
}
