
/* Invoice Searching */
#invoice_search{
	margin-left: auto;
	margin-right: auto;
	width: 75%
}

#invoice_search #invoice_search_link{
	width: 100px;
	font-size: 0.9em;
	color: #5e89f3;
}

#invoice_search #invoice_search_link:hover{
	cursor: pointer;
}

#invoice_search .invoice_link{
	color: #5e89f3;
        font-weight: 700;
}

#invoice_search .invoice_link:hover{
	cursor: pointer;
}

#invoice_search #invoice_search_container{
	position: absolute;
	z-index: 100;
        font-size: 12px;
}

#invoice_search #invoice_search_container #email{
	width: 250px;
}
#invoice_search #invoice_search_container #zipcode{
	width: 100px;
	margin-left: 10px;
}

#invoice_search #invoice_search_container  a{
        color: #5e89f3;
        font-weight: 700;
}

#invoice_search #invoice_search_container a:visited{
        color: #5e89f3;
        font-weight: 700;
}

#invoice_search #invoice_search_container .search_fields{
	position: relative;
	width: 385px;
	padding: 15px;
	background: #777777;
	border: 1px solid #555555;
}

#invoice_search #invoice_search_container .tick{
	position: relative;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #555555;
	width: 0px;
	left: 30px;
}

#invoice_search #invoice_search_container #status_text{
	padding-top: 5px;
	color: #ffed40;
}

#invoice_search #invoice_search_container #invoice_list_table{
	margin-top: 15px;
	padding: 5px;
	width: 100%;
	border-style: none;
	background:#fcfcfc;
}

#invoice_search #invoice_search_container #invoice_list_table th{
    text-align: left;
}


/* Actual Invoice */

.invoice_title{
	font-size:1.5em;
	background:#5e89f3;
	padding:10px;
	margin-bottom:20px;
	margin-top:10px;
}
.invoice_title .transaction_id{
	float: right;
	font-size:0.6em;
}
#item_table{
	width: 100%;
}

#item_table td{
}

#item_table th{
	background:#efefef;

}
#item_table .total_column {
	text-align: right;
}
#total_table{
	border: 1px solid blue;
	float:right;
}

#customer_info{
	height:120px;
}

#shipping_info{

	margin-bottom:20px;
}
#shipping_info .heading{
	font-size: 1.4em;
	font-weight: 900;
	padding: 10px;
	background:#efefef;
}
#shipping_info .content{
	padding: 10px;
}

#return_button{
	text-align: center;
}

#return_button .buttons{
    	padding:8px;
	background:#ffc650;
	border:2px solid #bf9f5d;
	cursor:pointer;
}

#return_button .buttons:hover{
	padding:8px;
	background:#ffc650;
	border:2px solid #ffc650;
	cursor:pointer;
	color:black;
}

#store_contact{
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	text-align:center;
}

#store_contact .heading{
	font-size:1.8em;
	font-weight: 900;
	padding: 10px
}

#store_contact .content{
	padding: 10px;
}