// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#landing{
	background:white;
	padding:50px;
	margin:50px;
	text-align:center;
	positoin:absolute;
}

#landing div.top div.title{
	font-size:6.0em;
}
td.side{
	height:200px;
	width:250px;
}
div.signup{
	text-align:right;
	font-size:15em;
	position:relative;
	bottom:20px;
	color:#ffc650
}
div.login{
	text-align:left;
	font-size:9em;
	position:relative;
	top:20px;
	color:#ffc650;
}
td.inputs{
	width:335px;
}

#subtitle{
	position:absolute;
	top:-20px;
	left:100px;
	width:400px;
	-webkit-transform: rotate(-3deg); 
	-moz-transform: rotate(-3deg);
}
#subtitle2{
	position:absolute;
	top:-10px;
	right: +100px;
	width:400px;
	-webkit-transform: rotate(7deg); 
	-moz-transform: rotate(7deg);
}
#subtitle3{
	position:absolute;
	bottom: -15px;
	left:100px;
	width:400px;
	-webkit-transform: rotate(3deg); 
	-moz-transform: rotate(3deg);
}
#subtitle4{
	position:absolute;
	right: -35px;
	bottom:-20px;
	width:600px;
	-webkit-transform: rotate(-8deg); 
	-moz-transform: rotate(-8deg);
}

//#landing div.top 

div.checkmeout{
	padding:20px;
	font-size:1.8em;
	color:#888888;
	//border:2px solid #ffb116;
	background: #FAFAD2;
	margin:auto;
	opacity:0.90;
	filter:alpha(opacity=90); /* For IE8 and earlier */	
	cursor:pointer;
	text-align:center;
}

//#landing div.top 
div.checkmeout emphasis{
	color:#5E89F3;
}

#landing div.middle {
	//border-bottom: 1px solid #eeeeee;
	//padding:10px;
	positoin:absolute;
}

#landing div.middle input{
	display:block;
	padding:10px;
	padding-left:64px;
	margin:15px auto;
	font-size:1.5em;
	height:30px;
	width:325px;
	border: 1px solid #dddddd;
}

#landing div.middle input.store{
	background-image: url("/images/login/user.png");
	background-repeat:no-repeat;
	background-position:left center; 
}

#landing div.middle input.password{
	background-image: url("/images/login/lock.png");
	background-repeat:no-repeat;
	background-position:left center; 
}

#landing div.middle input.email{
	background-image: url("/images/login/envelope.png");
	background-repeat:no-repeat;
	background-position:left center; 
}

#landing div.bottom {
	padding:15px;
}

#landing div.bottom input{
	background:#ffc650;
	border:2px solid #bf9f5d;
	padding:10px;
	width:100px;
	margin: auto;
	font-size:1.0em;
}
#landing div.bottom input:hover{
	border:2px solid #ffc650;
	cursor:pointer;
}
