
.order_table .number{
	width: 125px;
}
.order_table .date{
	width: 100px;
}
.order_table .date{
	width: 100px;
}
.order_table .tracking{
	width: 200px;
}
.order_table .amount{
	width: 100px;
}
.order_table .links{
	width: 50px;
}
.order_table .centered{
	text-align: center;
}