
/* POPUP CRAP
*/

.has_popup{
	position:absolute;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
   // font-size:0.7em;
    z-index:3000;
    width:500px;
}
.popup_title{
	padding:5px;
	color:black;
}
.popup_description{
	font-size:0.8em;
	padding:5px;
	color:#6666;
}

.popup_qty{
	text-align:right;
	//font-size:0.8em;
	padding:15px;
	color:black;
}

.popup table{
}

.popup td.corner {
        	height: 15px;
        	width: 19px;
        }

.popup td#topleft { background-image: url(/images/coda/bubble-1.png); }
.popup td.top { background-image: url(/images/coda/bubble-2.png); }
.popup td#topright { background-image: url(/images/coda/bubble-3.png); }
.popup td.left { background-image: url(/images/coda/bubble-4.png); }
.popup td.right { background-image: url(/images/coda/bubble-5.png); }
.popup td#bottomleft { background-image: url(/images/coda/bubble-6.png); }
.popup td.bottom { background-image: url(/images/coda/bubble-7.png); text-align: center;}
.popup td.bottom img { display: block; margin: 0 auto; }
.popup td#bottomright { background-image: url(/images/coda/bubble-8.png); }

.popup table.popup-contents {
	width:400px;
	font-size: 1.0em;
	line-height: 1.3em;
	background-color: #fff;
	color: #666;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	}

table.popup-contents th {
	text-align: right;
	text-transform: lowercase;
	}

table.popup-contents td {
	text-align: left;
	}

tr#release-notes th {
	text-align: left;
	text-indent: -9999px;
	background: url(/images/coda/starburst.gif) no-repeat top right;
	height: 17px;
	}

tr#release-notes td a {
	color: #333;
}
   
