// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop{
	width:70%;
	margin:auto;
	background: white;
	color:black;
	padding:50px;
}

.shop .titlebar{
	background-image: url("/images/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	height:55px;
}
.shop .titlebar .title{
	margin:10px;
	padding:20px;
	width:200px;
	display:inline;
	position:relative;
}

.shop .titlebar .menu{
	margin:10px;
	padding:20px;
	width:200px;
	display:inline;
	position:relative;
	
}
.shop .titlebar .menu:hover{
	background:#ffc650;
	cursor:pointer
	
}

.headline{
	font-size:32px;
	
}

.others{
}
.current{
	background:#5e89f3;
}

.shop .titlebar .helper{
	padding:10px;
	font-size:0.8em;
	font-style:italic;
	padding-bottom:30px;
}
.shop .contentbar{
	padding-top:55px;
}

.shop .subtitle{
	font-size:1.5em;
	background:#5e89f3;
	padding:10px;
	position:relative;
}
.shop .quote{
	font-size:1.0em;
	padding:10px;
	margin-bottom:30px;
	background:#efefef;
}


.shop .fields{
	padding:10px;
}

.fields .field_header{
	font-weight:700;
	text-align:right;
	vertical-align:top;
}

.fields .description{
	color:#888888;
	font-size:0.7em;
	text-align:center;
}
.fields #url{
	color:black;
	font-weight:700;
}

.fields table td{
	padding:2px;
}

.subtitle div.actions{
	position:absolute;
	right:5px;
	top:5px;
}

.actions input{
	padding:8px;
	background:#ffc650;
	border:2px solid #bf9f5d;
	cursor:pointer;
}
.actions input.disabled{
	padding:8px;
	background:#eeeeee;
	border:2px solid #aaaaaa;
	cursor:pointer;
}
.actions input.self{
	padding:8px;
	background:#a18fd7;
	border:2px solid #564783;
	cursor:pointer;
	color:white;
}
.actions input:hover{
	padding:8px;
	background:#ffc650;
	border:2px solid #ffc650;
	cursor:pointer;
	color:black;
}

#stack_trigger{
	text-align:center; 
	padding:50px;
	font-size:1.5em;
}
#stack_trigger:hover{
	cursor:pointer;
	text-decoration:underline;
	
}