// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; }

a.otherLink:link { text-decoration:none; }
a.otherLink:visited { text-decoration:none; }
a.otherLink:hover { text-decoration:none; }
a.otherLink:active { text-decoration:none; }

body{
	background:#a6a6a6;
	background-image: url("/images/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

.box {
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.shadow {
	box-shadow: 1px 1px 7px #222222;
}
.img {
	border:0px;
}

#header{
	position:relative;
	padding:20px;
	font-size: 4.0em;
	text-align: center;
	height:75px;

}

#stuff_content{
	padding:30px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	border:1px solid #eeeeee;
	background:#fcfcfc;

}

#footer{
	padding:20px;
	font-size: 0.8em;
	text-align: center;
}

#search_input{
	width:150px;
	height:25px;
	background-image: url("/images/search.png");
	background-repeat:no-repeat;
	padding-left:25px;
	border:1px solid #aaaaaa;
}

#inventory_container{
	width: 100%;
	border:1px solid #efefef;
	margin-left:auto;
	margin-right:auto;
	background:white;
}


#load-stuff{
	height:65px;
}
#load-stuff li{
	display:block;
	float:left;
	height:30px;
	line-height: 30px;
	padding:10px;
	margin:5px;
	border:1px solid #dddddd;
}
#load-stuff li.buy{
	text-align:center;
	color:#222222;
	font-size: 1.1em;
	border:0px;
	vertical-align:top;
	padding:0px;
	position:relative;
}

#load-stuff li.select{
	cursor:pointer;
	text-align:center;
	color:#222222;
	font-size: 1.1em;
	background:#5e89f3;
	border:1px solid #a5bdf9;
	vertical-align:top;
}

#load-stuff li.select:hover{
	cursor:pointer;
	text-align:center;
	background:#ffc650;
	border:1px solid #ffd47c;
}
.stuff {
        //overflow: hidden;
}
.stuff li{
        display: inline-block;
        //float: left;
        height:120px;
        width:100px;
        margin: 5px;
        padding:5px;
        padding-bottom:10px;
        border:1px solid #dddddd;
        background: white;
	position:relative;
}
.checkmark{
	position:absolute;
	bottom:0px;
	right:0px;
}
.soldout{
	position:absolute;
	top:5px;
	left:5px;
}
.stack{
	position:relative;
	bottom:50px;
	left:70px;
}
.stack_link{
	cursor:pointer;
}
.caption{
	text-align:center;
	font-size:0.6em;
}
.select {
	vertical-align:middle;
}
.qty_container {
	padding:8px;
	width:50px;
	position:absolute;
	bottom:50%;
	left:50%;
	margin-left: -33px;
	font-weight:700;
	font-size:1.3em;
	color:white;
	text-align:center;
	background-image: url("/images/qty_background.png");
	cursor:default;
	border:2px solid #dddddd;
}
.qty{}
.controls {
	position:absolute;
	top:-4px;
	height: 40px;
	right:-10px;
	cursor:pointer;
}

.hovernote{
	position:absolute;
	width:50px;
	top:-40px;
	right:-15px;
	border: 1px solid #555555;
	margin:0px;
	padding:0px;
	padding-left:15px;
	padding-right:15px;
	background-image: url("/images/trans_darker.png");
	font-size:0.8em;
	color:#ffed40;
}
.hovernote .tick{
	position:absolute;
	left:35px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 5px solid #555555;
}

#flash_content{
	width: 800px;
	margin-left: -400px;
	left: 50%;
	height: 30px;
	padding-top: 5px;
	font-size: 1.5em;
	background: #ffc650;
	text-align: center;
	position: absolute;
	top: 0px;
	z-index: 10;
}
     