<div class="popup">
	   <table id="dpop" class="popup" border=0 cellpadding=0 cellspacing=0>
		<tbody>
			<tr>
				<td id="topleft" class="corner"></td>
				<td class="top"></td>
				<td id="topright" class="corner"></td>
			</tr>
	
			<tr>
				<td class="left"></td>
				<td>
					<table class="popup-contents">
						<tbody>
						<tr>
							<td valign="top" style="width:152px;">
								<%=image_tag shop.photo.url(:detail), :size=>"150x150", :class=>"test box"%>
							</td>
							<td valign="top">
								<div class="popup_title"><%=shop.name%></div>
								<div class="popup_description"><%=shop.description%></div>
								<div class="popup_qty"><%=shop.price.format( :symbol=>true )%></div>
							</td>
						</tr>
						
						</tbody>
					</table>
	
				</td>
				<td class="right"></td>    
			</tr>
	
			<tr>
				<td class="corner" id="bottomleft"></td>
				<td class="bottom"><img width="30" height="29" alt="popup tail" src="/images/coda/bubble-tail2.png"/></td>
				<td id="bottomright" class="corner"></td>
			</tr>
		</tbody>
	</table>
</div>
