<form action="/<%=params[:slug]%>/store" method="post" >
        <input class="buttons" type="button" id="print_invoice" name="print" value="Print Invoice" >
        <input name="return" type="submit" value="Return to store" class="buttons">
<form>