$("#qty_<%=id%>").html('x<%=qty%>');
$('#total').html('<%= total.format(:symbol=>true)%>');
<%for item in removed%>
$("#qty_<%=item%>").html('x0');
$("#checkmark_<%=item%>").fadeOut('fast', function() {});
<%end%>
<%if session[:basket].split(',').length < 1%>
$('#load-stuff li.chosen').fadeOut('slow', function() {});
<%else%>

$('div.hovernote').effect("bounce", { times:3 }, 300);
<%end%>
