
<ul id="load-stuff">
	<li data-id="1"><input id="search_input" name="query" value="<%=params[:query]%>" href="/<%=params[:slug]%>/store/search" placeholder="Store Search"></li>
	<li data-id="2" class="select button" href="/<%=params[:slug]%>/store/everything">Browse</li>
	<li data-id="3" class="select button" href="/<%=params[:slug]%>/store/limited_run">Limited Run</li>
	<!-- <li data-id="4" class="select button" href="/<%=params[:slug]%>/store/discontinued">Discontinued</li> //-->
	<li data-id="5" class="select button chosen" href="/<%=params[:slug]%>/store/chosen"<%if session[:basket] == ""%> style="display:none;"<%end%>><div style="float:left">What I've Chosen</div><%=image_tag "/images/cart.png", :size=>"28x28"%></li>
	<li data-id="6" class="buy chosen"<%if session[:basket] == ""%> style="display:none;"<%end%>><div class="hovernote box"><div id="total"><%=@total.format(:symbol=>true)%></div><div class="tick"></div></div><%= link_to image_tag("/images/buy_green.png", :size=>"52x52", :class=>"hoverable"), "/#{params[:slug]}/store/buy"%></li>
</ul>
