<ul class="stuff">
<%for s in stuff%>
	<li data-id="stuff_id_<%=s.id%>" class="has_popup"> 
		<div style="width:100%;">
		<%if s.stack?%>
			<div id="stack_<%=s.id%>" class="stack_link" href="/<%=params[:slug]%>/store/stack/<%=s.id%>">
				<%=image_tag s.photo.url(:thumb), :class=>"test box"%>
				<div class="caption"><%=s.name[0..15]%></div>
				<img src="/images/stack.png" class="soldout"<%if !s.stack?%> style="display:none;"<%end%>>
			</div>
		<%else%>
			<%=link_to({:controller=>"store",:action=>"choose", :id=>s.id}, :remote=>true) do%>
				<%=image_tag s.photo.url(:thumb), :class=>"test box trigger"%>
				<div class="caption"><%=s.name[0..15]%></div>
				<div id="checkmark_<%=s.id%>" class="qty_container box" <%if !session[:basket].split(',').index{|x| x.split(':')[0] == s.id.to_s}%> style="display:none;"<%end%>>
					<div class="qty" id="qty_<%=s.id%>">x<%=session[:basket].split(',').collect{|i| i.split(':')[1] if i.split(':')[0] == s.id.to_s}.compact.join%></div>
					<div class="controls">
						<%=image_tag "/images/arrow_up.png",:size=>"20x20", :class=>"arrow", :href=>"/#{params[:slug]}/store/quantity?id=#{s.id}&qty=1"%><br/>
						<%=image_tag "/images/arrow_down.png",:size=>"20x20", :class=>"arrow", :href=>"/#{params[:slug]}/store/quantity?id=#{s.id}&qty=-1"%>
					</div>
				</div>
				<%if !s.stack?%>
					<img id="soldout_<%=s.id%>" src="/images/soldout.png" class="soldout"<%if s.available?%> style="display:none;"<%end%>>
				<%end%>
			<%end%>
			<%= render :partial=>"detail_popup", :locals=>{:shop=>s}%>
		
			
				
		<%end%>
		</div>
		
		
				
				
	</li>
<%end%>
</ul>
<div id="pagination_links"><%=paginate stuff%></div>

