<!-- flash notices -->
<% if flash[:notice] %>
	<div id="flash_content" class="box" style="display:none">
		<%= flash[:notice] %>
	</div>
	<script>
		$('#flash_content').slideDown(600);
		$('#flash_content').delay( 10000 ).slideUp(600);
	</script>
<% end %>

<!-- Header -->
<div id="header"><%=@shop.name%></div>

<!-- Invoice Search -->
<%=render :partial=>"invoices/invoice_search" %>

<!-- Stuff -->
<div id="stuff_content">
	<div id="store_content" <% if show_invoice == 1 %>style="display:none"<% end %> >
		<div id="inventory_container">
			<ul class="stuff"></ul>
			<div id="pagination_links"><nav class="pagination"></nav></div>
		</div>

		<div id="navigation_container">
			<%=render :partial=>"store_streams"%>
		</div>
	</div>

	<div id="invoice_content" <% if show_invoice == 0 %>style="display:none"<% end %> >
		<% if show_invoice == 1%>
			<%=render :partial=>"invoices/invoice", :locals=>{ :transaction=> transaction }%>
		<% end %>
	</div>
</div>

<!-- Footer -->
<div id="footer"><%=params[:name]%><strong>Superette</strong> is an <strong>Open Form Foundation</strong> joint.</div>
<div id="login"><%=link_to image_tag("/images/locked.png", :size=>"32x32", :alt=>"Shop Login"), "/login/"%></div>
