<!DOCTYPE html>
<html>
<head>
  <title>Superette</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="shop box">
<%= render :partial=>"shops/menu", :locals=>{:option=>"orders"}%>

<div class="contentbar">
<%= yield %>
</div>

</div>

</body>
</html>